
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
@import url(https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css);
@import url(style.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

.swiper {
    display: flex;
    justify-content: center;
}


